:root{
    /* background-color:rgba(187,133,136); */
    background-color: whitesmoke;
    /* min-height: 100vh; */
    min-height: 100vh;
    display: block;
}
.App{
  width: 90vw;
  max-width: 1200px; /* optional */
  margin: 0 auto;
  padding: 40px 20px;
  padding-top: 0;
  border-radius: 20px;
  position: relative;
  z-index: 1;
} 
.service-grid
,.special-grid{
  display: grid;
  grid-template-columns: 1fr; /* 1 column by default (small screens) */
  gap: 1rem; /* space between cards */
}

@media (min-width: 768px) {
  .service-grid
  ,.special-grid{
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium and full screens */
  }
}
.section-title{
  font-family: Playfair Display;
  font-weight: Medium (500);
  font-size: 22px;
  line-height: 28px;
}
.second-section{
  margin-top: 30px;
}